<div class="split left">
    <div class="centered">
      <img src="assets/mohith.jpeg">
      <h2>
        <a class="name">Mohith Pokala</a></h2>
        <p><a>190050084</a></p>
        <p><a>mohithpokala@cse.iitb.ac.in</a></p>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <img src="assets/preetham.jpg">
      <h2>
        <a class="name">Preetham Poluparthi</a></h2>
        <p><a>190050085</a></p>
        <p><a>preetham@cse.iitb.ac.in</a></p>
    </div>
  </div>
