<div class="split left">
    <div class="centered">
      <img src="assets/mohith.jpeg">
      <h2>
        <a class="name">Mohith Pokala</a></h2>
        <p><a>190050084</a></p>
        <p><a>mohithpokala@cse.iitb.in</a></p>
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <img src="assets/preetham.jpg">
      <h2>
        <a class="name">Preetham Poluparthi</a></h2>
        <p><a>190050085</a></p>
        <p><a>preetham@cse.iitb.in</a></p>
    </div>
  </div>

<!-->>
<ul>
    <li class="split left"><img src="assets/mohith.jpg">
        <table>
            <tr>
                <a class="name">Mohith Pokala</a>
            </tr>
            <tr>
                <a>190050084</a>
            </tr>
            <tr>
                <a>mohithpokala@cse.iitb.in</a>
            </tr>
          </table>
        </li>
    <li class="split right"><img src="assets/preetham.jpg">
        <table>
            <tr>
                <a class="name">Preetham Poluparthi</a>
            </tr>
            <tr>
                <a>190050085</a>
            </tr>
            <tr>
                <a>preetham@cse.iitb.in</a>
            </tr>
          </table>
        </li>
</ul>
<!-->