* {
    box-sizing: border-box;
  }
  

  input[formControlname=name] {
    font-weight: bold;
    background-color: #f2f2f2;
    border: none;
    border-bottom: 2px solid  #4CAF50;
  }
  
  input[formControlname=name]:focus {
    outline: none;
  } 

  input[formControlname=email] {
    font-weight: bold;
    background-color: #f2f2f2;
    border: none;
    border-bottom: 2px solid  #4CAF50;
  }
  
  input[formControlname=email]:focus {
    outline: none;
  }
  
  input[type="radio"] {
    border-radius: 4px;
    resize: vertical;
  }
  
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50%;
  }
  .invalid-feedback{
    color: red;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    width: 50%;
    height: fit-content;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 
  .contain {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }